node_modules/
*/node_modules/
.env
*/.env

# Build outputs
dist/
*/dist/
dev-dist/
*/dev-dist/
out/
*/out/

# Logs e ficheiros de debug
*.log
*.txt
debug.txt
error.log
out.log

# Cypress
cypress/videos/
cypress/screenshots/

# Database backups
*.sql

# OS
.DS_Store
Thumbs.db

